<div class="container" id ="all_notes">
  <h2>View All Notes</h2>
  <% @notes.each do |note| %>
    <div class="notepad">
      <%= note.title.capitalize %><br>
      <%= note.content.capitalize %><br>
      <% if @note %>
      <%= erb :_edit_note %>
      <% end %>
    </div>
     <form name="delete" class= "delete" action='/notes/<% '"#{@note.id}"' %>' method="post">
        <input type="hidden" value="delete" name="_method">
        <input type="submit" value="Delete Note">
    </form>
     <a href='/notes/<% '"#{@note.id}"'%>'>Edit Note</a>
    <% end %>
</div>