<div class ="container" id="create_notes">
  <h2>Make a Note</h2>
  <form name="create_note" action='/notes' method="post">
    Title: <input type="text" name="title">
    <br></br>
    Content: <input type="text" name="content">
    <input type="submit" value="Make a Note!">
  </form>
</div>