<form name="edit" class= "edit" action='/notes/<% '"#{@note.id}"' %>' method="post" value="@note.title">
        <input type="hidden" value="put" name="_method">
        <input type="submit" value="Edit Note">
    </form>