<div class="container">
  <h2>View All Notes</h2>
  <%= notes = Note.all %>
  <% notes.each do |note| %>
    <div id="notepad">
      <%= note.title.capitalize! %><br>
      <%= note.content.capitalize! %><br>
    </div>
    <% end %>
  <form name="delete" action='/notes/delete' method="get">
    <input type="hidden" value="delete" name="_method">
    <input type="text" name="title">
    <input type="submit" value="Delete Note">
  </form>
</div>