<div class ="container">
  <form name="create_note" action='/notes/create' method="post">
    Title: <input type="text" name="title">
    <br></br>
    Content: <input type="text" name="content">
    <input type="submit" value="Make a Note!">
  </form>
</div>