<div class="container">

  <form action="/notes" method ="post">

    <label for "title">Title:</label><br>
    <input type="text" name="title"><br><br>

    <label for "content">Content:</label><br>
    <textarea cols="40" rows="10"  name="content"></textarea><br><br>

    <input type="submit" value="Add your note"><br><br>


    <p><a href="/">Back to Home</a> </p>


  </form>
</div>