<% if @note %>  
  <p>Are you sure you want to delete the following note: <em>"<%= @note.content %>"</em>?</p>  
  <form action="/notes/<%=@note.id%>" method="post">  
    <input type="hidden" name="_method" value="delete">  
    <input type="submit" value="Yes, Delete It!">  
    <a href="/notes">Cancel</a>  
  </form>  
<% else %>  
  <p>Note not found.</p>  
<% end %>  