<fieldset>
  <legend>Edit Note</legend>
    <form class="update" method="post" action="/notes/<%= @note.id %>">
      <table cellpadding="10">
        <tr>
          <td>Title: </td>
          <td><input type="text" name="title" size= "38" value="<%= @note.title %>"></td>
        </tr>
        <tr>
          <td>Content: </td>
          <td>
            <textarea name="content" cols="40" rows="3"><%= @note.content %></textarea>
          </td>
        </tr>
        <tr>
          <td><input name="_method" type="hidden" value="put"></td>
          <td><input type="submit" value="Update">
    </form>
            <button class="right delete" data-url="/notes/<%= @note.id %>">
              Delete Note
            </button>
          </td>
        </tr>
      </table>

</fieldset>