<div class="container">
  <h1>Welcome to EmNote</h1>
  <a href="/notes/create">Make a Note!</a>
  <a href="/notes"><%= em 'View All Notes' %></a>
  <%= erb :_create_note_partial %>
  <%= erb :_allnotes_partial %>
</div>
