<div class="container">

  <h2>Notes of Good Fortune</h2>
<form action="/note" method="post">
  <input type="text" name="title" placeholder="place title here">
  <input type="text" name="note" placeholder="place note here">
  <input type="submit">
</form>

<% @note.each do |note| %>
  <div class="NoteDiv">

  <form action="/note/<%= note.id %>" method="post" id="edit">  
    <input type="hidden" name="_method" value="put">  
    <textarea id="title" name="title"><%= note.title %></textarea>
    <textarea id="content" name="content"><%= note.content %></textarea>  
    <Button type="submit">Save edits</Button>  
  </form>  
  <form id="delete" action="/note/<%= note.id %>/delete" method="post">  
    <input type="hidden" name="_method" value="delete">   
    <button type="submit">Delete</button>  
  </form> 
  </div>
<% end %>

</div>
