<h1>Notes</h1>
<nav>
  <a href="/notes/new">[Create note]</a>
</nav>
<% @notes.each do |note| %>
  <ul>
    <li class="title"><%= note.title %></li>
    <li class="content"><%= note.content %></li>
    <form action="notes/<%= note.id %>/edit" method="get">
      <input class="editbtn" type="Submit" value="Edit">
    </form>
  </ul>
<% end %>
