<div class="container">
  <h3>Notes:</h3>
  <% Note.all.each do |note| %>
    <p><a href="/notes/<%= note.id %>"><%= note.title %></a></p>
  <% end %>

  <div class="bottom-menu">
    <form action="/new_note" method="get">
      <button action="submit">Add a note</button/>
    </form>
  </div>
</div>
