<div class= "header">
  <h1>Notes</h1>
</div>


<div class="links">
  <!-- <form> -->
  <a href="/notes/new">Create A New Note</a><br>
<!-- </form> -->
</div>


<div id="notes">
  <% @notes.each do |note| %>
    <p>Title: <a href='/notes/<%="#{note.id}"%>'><%="#{note.title}"%></a></p>
    <p><%="Content: #{note.content}"%></p>
  <%end%>
</div>



