<div class="container">

  <a href="/notes/new"><button class="addnote">Add a Note</button></a>

  <% @notes.reverse.each do |note| %>
    <a href="/notes/<%=note.id%>"><h2><%= note.title %></h2></a>
    <p><%= note.content %></p>
    <hr/>
  <%end%>


</div>