<div class="container">
  <h1 class="center">Notes</h1>
  <% if @deleted %>
    <h4 class="center alert"><%= @deleted %></h4>
  <% end %>
  <h4 class="center"><a href="/notes/new">Add Note</a></h4>
  <% @notes.each do |note| %>
    <div class="note">
      <p class="note-title">
        <%= note.title %>
      </p>
      <div class="note-content">
        <p class="note-content-text"><%= note.content %></p>
      <button class="edit-form-button" data-url="/notes/<%= note.id %>/edit">Edit</button>
      </div>
    </div>
  <% end %>
  <h4 class="expand">Expand Notes</h4>
</div>