<div class="container">
  <h3>Notes:</h3>
  <% Note.all.each do |note| %>
    <p><a href="/note/<%= note.id %>"><%= note.title %></a></p>
  <% end %>
  <form action="/new_note" method="get">
    <button action="submit">Add a note</button/>
  </form>
</div>
