<div class="container">
  <form action="/notes" method="post">
    <div>Title</div>
    <input type="text" name="note[title]">
    <div>Body</div>
    <textarea name="note[body]"></textarea><br>
    <input type="submit" value="create">
  </form>
</div>