<h1>Create a new note</h1>
<form action="/notes" method="post">
	Title:<br>
	<input type="text" name="title"><br>
	Content:<br>
	<textarea type="text" name="content_text"></textarea><br>
	<input type="submit" value="Create">
</form>