<fieldset>
  <legend>Create Note</legend>
  <form action="/notes" method="post">
    <table cellpadding="10">
      <tr><td>Title</td>
      <td><input name="title" type="text"></td></tr>
      <tr><td>Content</td>
      <td><textarea name="content"></textarea></tr>
      <td><input type="submit" value="Submit"></td>
    </table>
  </form>
</fieldset>