<div class="container">
  <form action="/new_note" method="post">
    Title:
    <input type="text" name="title"><br><br>
    Note:
    <textarea cols="40" rows="10" name="content"></textarea><br><br>
    <input type="submit" value="Add note">
  </form>
</div>