<div class="container">
  <h1 class="center">Note #<%= @note.id %></h1>
  <div class="note single">
    <p class="note-title">
      <%= @note.title %>
    </p>
    <div class="note-content">
      <p class="note-content-text"><%= @note.content %></p>
      <a href="/notes/<%= @note.id %>/edit">
        <button>Edit</button>
      </a>
    </div>
  </div>
  <h4 class="expand">Expand Notes</h4>
</div>