<fieldset>
  <legend>New Note</legend>
    <form method="post" action="/notes">
      <table cellpadding="10">
        <tr>
          <td>Title: </td>
          <td><input type="text" name="title"></td>
        </tr>
        <tr>
          <td>Content: </td>
          <td><textarea name="content" cols="40" rows="3"></textarea></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Submit"></td>
        </tr>
      </table>
    </form>
</fieldset>
