<div class="container">
  <h1 class="center">Notes</h1>
  <% @notes.each do |note| %>
    <div class="note">
      <p class="note-title">
        <%= note.title %>
      </p>
      <div class="note-content">
        <p class="note-content-text"><%= note.content %> <a href="/notes/<%= note.id %>">More</a></p>
        <a href="/notes/<%= note.id %>/edit">
          <button>Edit</button>
        </a>
      </div>
    </div>
  <% end %>
  <h4 class="expand">Expand Notes</h4>
</div>