<div class="container">
  <h1>Notables</h1>
  <p>Create a new note!</p>
  <form action="/new_note" method="post">
    Title: <input type="text" name="note_title"><br>
    Note: <textarea name="note_content"></textarea><br>
    <input type="submit" value="Submit">
  </form>
  <p>See all your notes!</p>
    <ul>
    <% @notes.each do |note| %>
      <li><b><%= note.title %></b><br>
      <%= note.content %><br></li><br>
    <% end %>
  </ul>
</div>
