<div class="note single">
  <p class="note-title">
    <%= @note.title %>
  </p>
  <div class="note-content">
    <p class="note-content-text"><%= @note.content %></p>
    <button class="edit-form-button" data-url="/notes/<%= @note.id %>/edit">Edit</button>
    <div class="edit-form"></div>
  </div>
</div>
