<div class="container">
  <h3><%= @note.title %></h3>
  <div><%= @note.body %></div>
  <a href="/notes/<%= @note.id %>/edit">Edit Note</a>
  <form action="/notes/<%= @note.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Note" onclick="return confirm('Are you sure you want to delete this note?');">
  </form>
</div>