<div class="container">

  <h2><%= @note.title %></h2>
  <p><%= @note.content %></p>
  <p> <a href="/notes/<%=@note.id%>/edit">Edit Note</a> | <a href="/notes/<%=@note.id%>/delete-confirmation">Delete Note</a> | <a href="/">Back to Home</a>  </p>
</div>