.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

fieldset {
  margin: 20px auto;
  width: 600px;
}

th {
  text-align: left;
}

.note {
  padding-bottom: 16px;
  margin-bottom: 32px;
  border-bottom: 1px dotted #333;
}

.center {
  text-align: center;
}

.note-title {
  font-weight: bold;
}

.note-content-text {
  font-style: italic;
}

.expand {
  text-align: center;
  color: green;
}

.alert {
  color: orange;
}
