.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

.note {
  border: 1px solid silver;
  margin: 10px;
}

.title {
  background-color: yellow;
}

.content {
  background-color: blue;
}